// Body
$body-bg: #f8fafc

// Typography
$font-family-sans-serif: 'Nunito', sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6
$font-size-subtitle: 17px

// Colors
$primary: #1c9989

// Radius
$radius: 5px
$card-radius: 12px
$round-radius: 50%

// Buttons
$btn-font-size-base: 12px
