.site-btns
  .btn
    width: 7rem
    font-weight: bold
  .btn-warning
    color: #fff
  .btn-outline-dark
    border-color: #605e5f
    &:hover
      background-color: #605e5f

.koraspond__primary-btn
  font-size: $btn-font-size-base
  font-family: 'Lato'
  width: 15rem
  padding: 15px
  background-color: $primary
  color: #fff
  +allcaps
  +bold

  &:hover
    background-color: darken($primary, 4%)
    color: #fff

.koraspond__primary-btn--round
  font-size: $btn-font-size-base
  border-radius: 25px
  font-family: 'Lato'
  width: 95%
  padding: 10px
  background-color: $primary
  color: #fff
  +allcaps
  +bold

.e

.el-button
  &.primary--plain
    font-size: $btn-font-size-base
    font-family: 'Lato'
    background-color: #fff
    border: 1px solid #006A55
    color: #006A55

    &:hover
      background-color: darken($primary, 4%)
      color: #fff
    svg
      margin-left: 5px